body {
    background-color: palevioletred;
}
#thehead{
    background-color: whitesmoke;
    width: 30%;
    height: 20%;
    border: 1cm;
    border-color: grey;
    border-radius: 10%;
}
#yed{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

#theheadhead{
    background-color: pink;
    width: 60%;
    border-radius: 20%;
}
#tutorial{
    background-color: pink;
    width: 70%;
    border-radius: 20%;
}
